stages:
  - install
  - test

variables:
  EXPO_CLI_VERSION: "latest"
  NODE_ENV: "production"
  EXPO_PROJECT_FOLDER: "Cramr"  # Define the folder where your Expo app resides

before_script:
  - cd $EXPO_PROJECT_FOLDER
  - npm install -g expo-cli@$EXPO_CLI_VERSION  # Install Expo CLI globally

# Install dependencies inside the Expo folder
install_dependencies:
  stage: install
  script:
    - cd $EXPO_PROJECT_FOLDER  # Navigate to the Expo project folder
    - npm install  # Install Expo app dependencies

# Run tests inside the Expo folder
test_app:
  stage: test
  script:
    - cd $EXPO_PROJECT_FOLDER  # Navigate to the Expo project folder
    - npx expo start
    - sleep 60
    - echo "At least it runs"

#Will add linters here later
