image: node:latest

services:
  - postgres:latest


stages:
  - install
  - test

variables:
  EXPO_CLI_VERSION: "latest"
  NODE_ENV: "production"
  EXPO_PROJECT_FOLDER: "Cramr"  # Define the folder where your Expo app resides

before_script:
  - cd $EXPO_PROJECT_FOLDER

# Install dependencies inside the Expo folder
install_dependencies:
  stage: install
  script:
    - npm install  # Install Expo app dependencies

# Run tests inside the Expo folder
test_app:
  stage: test
  script: 
    - npm install  # Install Expo app dependencies and everything
    - npx expo install typescript 
    - npx expo start
    - sleep 60
    - echo "At least it runs"

#Will add linters here later
